# Default all files to text with LF endings
* text eol=lf

# Exclude CMakeLists.txt from forcing LF, let them use native line endings
CMakeLists.txt text eol=crlf

# Exclude Visual Studio files from forcing LF, keep native line endings
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.props text eol=crlf
